{% extends "base.html" %} {% block head %}
<title>{{ psus.name }}</title>
<link rel="stylesheet" href="../static/css/reset.css" />
<link rel="stylesheet" href="../static/css/product/style.css" />
<link rel="stylesheet" href="../static/css/media/product/style.css" />
{% endblock %} {% block body %}
<main>
  <div class="ii">
    <a onclick="history.back()"
      ><i class="fa-solid fa-arrow-left fa-2xl"></i
    ></a>
  </div>
  <div class="mobo">
    <div class="img">
      <div class="nawili">
        <img
          id="mainImage"
          src="{{ url_for('static', filename='images/parts/' + (psus.img or 'default_img.webp')) }}"
        />
      </div>
      <div class="down">
        <a href="#" onclick="changeImage(this); return false;">
          <img
            src="{{ url_for('static', filename='images/parts/' + psus.img) }}"
          />
        </a>
        {% for img_field in [psus.img1, psus.img2, psus.img3, psus.img4] %} {%
        if img_field and img_field != 'default_img.webp' %}
        <a href="#" onclick="changeImage(this); return false;">
          <img
            src="{{ url_for('static', filename='images/parts/psu/' + img_field) }}"
          />
        </a>
        {% endif %} {% endfor %}
      </div>
    </div>
    <div class="spec">
      <div class="smallones">
        <h1>Psu</h1>
        <p>{{psus.name}}</p>
        <h2>{{psus.description}}</h2>
        <img
          src="{{ url_for('static', filename='images/brands/' + psus.brandimg) }}"
        />
      </div>
      <strong></strong>
      <div class="rs">
        <div class="scndspec">
          <form method="POST" action="{{ url_for('add_to_wishlist') }}">
            <input type="hidden" name="product_id" value="{{ psus.id }}" />
            <input type="hidden" name="name" value="{{ psus.name }}" />
            <input type="hidden" name="price" value="{{ psus.price }}" />
            <input type="hidden" name="product_type" value="psu" />
            <button
              type="submit"
              style="border: none; background: none; cursor: pointer"
            >
              <i class="fa-regular fa-heart fa-xl" style="color: #454545"></i>
              Wish List
            </button>
          </form>
        </div>
        <div class="price">
          <p>${{psus.price}}</p>
        </div>
        <form method="POST">
          <input type="hidden" name="product_id" value="{{ psus.id }}" />
          <input type="hidden" name="name" value="{{ psus.name }}" />
          <input type="hidden" name="price" value="{{ psus.price }}" />
          <input type="hidden" name="product_type" value="psu" />
          <div class="pay">
             {% if psus.stock == 0 %}
            <p style="color: red; font-weight: bold">Not in stock</p>
            {% else %}
            <input
              type="number"
              name="quantity"
              value="1"
              min="1"
              max="{{ psus.stock }}"
              required
            />
            <button
              type="submit"
              formaction="{{ url_for('add_to_cart') }}"
              formmethod="POST"
            >
              <i class="fa-solid fa-bag-shopping"></i>
              Add to cart
            </button>
            <button
              type="submit"
              formaction="{{ url_for('buy_now') }}"
              formmethod="POST"
            >
              <i class="fa-solid fa-bag-shopping"></i>
              Buy now
            </button>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="spc">
    <h1>Specification</h1>
    <div class="a">
      <div class="specification">
        <ul>
          <li>Brand</li>
          <li>Wattage</li>
          <li>Efficiency</li>
          <li>Modular</li>
          <li>lighting</li>
          <li>Color</li>
          <li>Condition</li>
        </ul>
        <ul>
          <li>{{psus.brand}}</li>
          <li>{{psus.wattage}}</li>
          <li>{{psus.efficiency}}</li>
          <li>{{psus.modular}}</li>
          <li>{{psus.lighting}}</li>
          <li>{{psus.color}}</li>
          <li>{{psus.condition}}</li>
        </ul>
      </div>
    </div>
  </div>
  <center>
    <div class="comments">
      <h1>Comments</h1>
      {% if current_user.is_authenticated %}
      <form class="form" method="POST">
        <hr style="text-align: center; width: 600px" />
        <div class="stars">
          {% for i in range(5, 0, -1) %}
          <input
            type="radio"
            id="star{{ i }}"
            name="rating"
            value="{{ i }}"
            required
          />
          <label for="star{{ i }}"><i class="fa-regular fa-star"></i></label>
          {% endfor %}
        </div>
        <div class="send">
          <textarea
            name="text"
            placeholder="Write a comment..."
            required
          ></textarea>
          <button type="submit"><i class="fa-solid fa-paper-plane"></i></button>
        </div>
      </form>
      {% endif %}
      <div class="comment">
        {% for comment in comments %}
        <div class="id">
          <div class="split">
            <img
              src="{{ url_for('static', filename='images/' + (comment.user.image or 'default.png')) }}"
            />
            <h2>{{ comment.user.username }}</h2>
            <div class="rating">
              {% for _ in range(comment.rating) %}
              <i class="fa-regular fa-star"></i> {% endfor %}
            </div>
          </div>
          <p>{{ comment.text }}</p>
          {% if current_user.role == "Admin" %}
          <form
            class="delete"
            method="POST"
            action="{{ url_for('delete_comment', comment_id=comment.id) }}"
            style="display: inline"
          >
            <button
              onclick="return confirm('Delete this comment?')"
              type="submit"
              class="delete-btn"
            >
              <i class="fa-solid fa-trash"></i>
            </button>
          </form>
          {% endif %}
        </div>
        {% else %}
        <p class="none">No comments yet.</p>
        {% endfor %}
      </div>
    </div>
  </center>
</main>
<script src="../../static/js/zoom.js"></script>
<script src="../../static/js/slider.js"></script>
{% endblock %}
