/* body {
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

header {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}
.upper {
  background-color: lightgray;
  display: flex;
  height: 30px;
  align-items: center;
  padding-left: 200px;
  gap: 40px;
  font-weight: 700;
  i,
  a {
    padding-right: 5px;
    color: #555;
  }
}
.head {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
  gap: 50px;
  img {
    width: 150px;
  }
}
.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #f50057;
  border-radius: 50px;
  overflow: hidden;
  width: 500px;
}

.search-box input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px 20px;
  font-size: 16px;
}

.search-box input::placeholder {
  color: #555;
  font-weight: 700;
}

.search-box button {
  background-color: #f50057;
  border: none;
  color: white;
  padding: 13px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box button i {
  font-size: 20px;
}

.search-box button:hover {
  background-color: #c51162;
}
.icons {
  display: flex;
  gap: 50px;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 150%;
  margin-top: 40px;
  margin-bottom: 40px;
  p{
    font-size: 22px;
  }
  h1{
    font-size: 40px;
    padding-bottom: 20px;
  }

}
.foot {
  background-color: #f50057;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  margin-bottom: 50px;
  h1 {
    font-size: 20px;
    color: white;
  }
  p {
    color: white;
    font-weight: 700;
    font-size: 17px;
  }
  img {
    width: 40px;
    border-radius: 50%;
  }
}
.left {
  display: flex;
  align-items: center;
  gap: 50px;
  p {
    padding-top: 11px;
  }
}
.right {
  display: flex;
  gap: 15px;
}
.fooot {
  display: flex;
  justify-content: space-evenly;
}
.low {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  p {
    font-size: 20px;
    font-weight: 700;
  }
  img {
    width: 50%;
  }
  h1 {
    font-size: 30px;
  }
}
.bottom {
  font-weight: 700;
  line-height: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.marj {
  display: flex;
  flex-direction: column;
  gap: 10px;
  i,
  a {
    padding-right: 5px;
    color: #555;
  }
} */
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
a {
  text-decoration: none;
  cursor: pointer;
}
img {
  width: 150px;
}
.aboutus {
  display: flex;
}
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 150%;
  margin-top: 40px;
  margin-bottom: 40px;
  p {
    font-size: 25px;
    font-weight: 500;
    line-height: 120%;
    text-align: center;
  }
  h1 {
    font-size: 40px;
    padding-bottom: 20px;
  }
}