/* body {
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

header {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}
.upper {
  background-color: lightgray;
  display: flex;
  height: 30px;
  align-items: center;
  padding-left: 200px;
  gap: 40px;
  font-weight: 700;
  i,
  a {
    padding-right: 5px;
    color: #555;
  }
}
.head {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
  gap: 50px;
  img {
    width: 150px;
  }
}
.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #f50057;
  border-radius: 50px;
  overflow: hidden;
  width: 500px;
}

.search-box input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px 20px;
  font-size: 16px;
}

.search-box input::placeholder {
  color: #555;
  font-weight: 700;
}

.search-box button {
  background-color: #f50057;
  border: none;
  color: white;
  padding: 13px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box button i {
  font-size: 20px;
}

.search-box button:hover {
  background-color: #c51162;
}
.icons {
  display: flex;
  gap: 50px;
}
main {
  display: flex;
}
h1 {
  font-weight: 700;
  font-size: 32px;
  color: #f50057;
}
.contact {
  width: 100%;
  gap: 20px;
  padding-top: 93px;
  background-color: #e7e7e7;
  padding-left: 162px;
  display: flex;
  justify-content: space-around;
}
.phone {
  content: "";
  color: #7e8898;
  font-size: 20px;
}
.phone::after {
  content: " +995 599 99 99 99";
  color: black;
}
.email {
  content: "";
  color: #7e8898;
  font-size: 20px;
}
.email::after {
  content: " giorgizhorzholianite05@geolab.edu.ge";
  color: black;
}
.address {
  content: "";
  color: #7e8898;
  font-size: 20px;
}
.address::after {
  content: " პეტრიაშვილის ქ.30";
  color: black;
}
.iframe {
  background-color: #e7e7e7;
  display: flex;
  margin-bottom: 100px;
  width: 800px;
  height: 450px;
  -webkit-box-shadow: 4px 4px 26px 0px rgba(34, 60, 80, 0.37);
  -moz-box-shadow: 4px 4px 26px 0px rgba(34, 60, 80, 0.37);
  box-shadow: 4px 4px 26px 0px rgba(34, 60, 80, 0.37);
  border-radius: 20px;
}
.foot {
  background-color: #f50057;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  h1 {
    font-size: 20px;
    color: white;
  }
  p {
    color: white;
    font-weight: 700;
    font-size: 17px;
  }
  img {
    width: 40px;
    border-radius: 50%;
  }
}
.left {
  display: flex;
  align-items: center;
  gap: 50px;
  p {
    padding-top: 11px;
  }
}
.right {
  display: flex;
  gap: 15px;
} */
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  h1 {
  font-weight: 700;
  font-size: 32px;
  color: #f50057;
}
}
.contact {
  width: 100%;
  gap: 20px;
  padding-top: 93px;
  background-color: #e7e7e7;
  padding-left: 162px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.phone {
  content: "";
  color: #7e8898;
  font-size: 20px;
}
.phone::after {
  content: " +995 599 99 99 99";
  color: black;
}
.email {
  content: "";
  color: #7e8898;
  font-size: 20px;
}
.email::after {
  content: " giorgizhorzholianite05@geolab.edu.ge";
  color: black;
}
.address {
  content: "";
  color: #7e8898;
  font-size: 20px;
}
.address::after {
  content: " პეტრიაშვილის ქ.30";
  color: black;
}
.iframe {
  background-color: #e7e7e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
  width: 800px;
  height: 450px;
  -webkit-box-shadow: 4px 4px 26px 0px rgba(34, 60, 80, 0.37);
  box-shadow: 4px 4px 26px 0px rgba(34, 60, 80, 0.37);
  border-radius: 20px;
}