body {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(../images/login.jpg);
  background-size: cover;
  background-position: center;
}
.ii {
  margin-top: 20px;
  position: fixed;
  margin-left: 20px;
  i {
    color: black;
  }
}
center {
  form {
    margin: 50px 0px;
    padding: 20px;
    background-color: white;
    border: 2px solid red;
    box-shadow: 0px 0px 15px rgb(255, 0, 21);
    display: flex;
    gap: 20px;
    width: 500px;
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  input {
    width: 200px;
    height: 30px;
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 10px;
  }
  form button {
    border-radius: 15px;
    border: 2px solid black;
    height: 30px;
    width: 200px;
    background-color: greenyellow;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 700;
  }
  form button:hover {
    background-color: rgb(210, 255, 143);
  }
}
