body {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(../images/login.jpg);
  background-size: cover;
  background-position: center;
}
main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px 0px;
  gap: 20px;
}
.person {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 200px;
  border: 2px solid white;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 15px blue;
  a {
    text-decoration: none;
    color: white;
  }
  i {
    font-size: 30px;
    color: blue;
    transition: 0.5s all;
  }
  i:hover{
    color: red;
  }
}
.txt {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  font-size: 20px;
  color: blue;
}
.up{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.down{
  display: flex;
  align-items: center;
  gap: 20px;
}
.down button {
  border-radius: 20px;
  height: 40px;
  width: 120px;
  border: 2px solid blue;
  font-weight: 700;
  color: blue;
  cursor: pointer;
  transition: 0.5s all ease;
}
.down button:hover{
  color: #fff;
  background-color: blue;
  box-shadow: 0px 0px 15px blue;
}
.down button:focus{
  color: #fff;
  background-color: blue;
  box-shadow: 0px 0px 15px blue;
}
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}
.popup-content {
  display: flex;
  gap: 30px;
  background: #fff;
  padding: 40px;
  border-radius: 20px;
  width: 80%;
  max-width: 600px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: relative;
  img{
    width: 200px;
    border-radius: 50%;
  }
}
.info{
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 20px;
  h1{
    font-size: 30px;
  }
  p{
    font-size: 20px;
  }
}
#closeBtn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  color: #333;
}
.popup-content a{
  position: absolute;
  bottom: 15px;
  right: 20px;
  font-size: 25px;
  cursor: pointer;
  color: red;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
