{% extends "base.html" %} {% block head %}
<title>Contact</title>
<link rel="stylesheet" href="../static/css/reset.css" />
<link rel="stylesheet" href="../static/css/contact.css" />
<link rel="stylesheet" href="../static/css/media/mediacontact.css" />
{% endblock %} {% block body %}
<main>
  <div class="contact">
    <div>
      <h1>Contact info</h1>
      <br />
      <p class="address">Address :</p>
      <br />
      <p class="phone">Mobile Number :</p>
      <br />
      <p class="email">E-mail :</p>
    </div>
    <div class="if">
      <iframe
        class="iframe"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2106.2594141112745!2d44.77849682477278!3d41.70539801909899!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40440cce30aab8ff%3A0xba4e1d79e437511!2s30%20Vasil%20Petriashvili%20Street%2C%20T&#39;bilisi%200179!5e0!3m2!1sen!2sge!4v1746976611859!5m2!1sen!2sge"
      >
      </iframe>
    </div>
  </div>
</main>
{% endblock %}
