<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/login.css" />
    <link rel="stylesheet" href="../static/css/media/medialoginXregister.css" />
    <link rel="icon" href="../static/images/G-Builds.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="flash-container">
      {% with messages = get_flashed_messages(with_categories=true) %} {% for
      category, message in messages %}
      <div class="alert alert-{{ category }}">
        <span class="icon">
          {% if category == 'success' %}✔ {% elif category == 'danger' %}✖ {%
          elif category == 'warning' %}⚠ {% else %}ℹ {% endif %}
        </span>
        <span class="message">{{ message }}</span>
        <span class="close" onclick="this.parentElement.style.display='none'"
          >×</span
        >
      </div>
      {% endfor %} {% endwith %}
    </div>
    <div class="ii">
      <a onclick="history.back()"
        ><i class="fa-solid fa-arrow-left fa-2xl" style="color: #ffffff"></i
      ></a>
    </div>
    <main>
      <div class="wrapper">
        <form method="POST">
          {{ form.hidden_tag() }}
          <h1>Login</h1>
          <div class="input-box">
            {{ form.username(placeholder=form.username.label.text) }}
          </div>
          <div class="input-box">
            {{ form.password(placeholder=form.password.label.text) }}
          </div>
          <div class="remember-forgot">
            <label> {{ form.remember() }} Remember me </label>
            <a href="#">Forgot password?</a>
          </div>
          {{ form.submit(class="btn") }}
        </form>
        <div class="register-link">
          <p>
            Don't have an account?
            <a onclick="window.location.href='/register';">Register</a>
          </p>
        </div>
      </div>
    </main>
    <script
      src="https://kit.fontawesome.com/486d0c01b3.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
