.mobo {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  gap: 100px;
  padding-bottom: 200px;
}
.ii {
  margin-top: 20px;
  position: fixed;
  margin-left: 20px;
  i {
    color: black;
  }
}
.nawili {
  width: 400px;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  cursor: zoom-in;
}

.nawili img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.img {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.down {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.down img {
  padding: 5px;
  width: 75px;
  cursor: pointer;
}

.spec {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  img {
    margin-top: 20px;
    width: 150px;
  }
  h1 {
    color: #f50057;
  }
  h2 {
    color: #586770;
  }
  p {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 450;
  }
  strong {
    width: 100%;
    border: 1px solid rgb(201, 201, 201);
  }
}
.scndspec {
  padding-top: 20px;
  button {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #738fa5;
    font-weight: 600;
    font-size: 15px;
  }
}
.rs {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 20px;
}
.price {
  p {
    font-weight: 700;
    font-size: 35px;
    color: #f50057;
  }
}
hr {
  text-align: center;
  width: 600px;
}
.down a {
  display: inline-block;
  margin: 0 6px;
  transition: all 0.25s ease;
}

.down a img {
  height: 70px;
  border-radius: 6px;
  opacity: 0.5;
  transition: 0.25s ease;
}

.down a:hover img {
  opacity: 0.8;
}

.down a.active img {
  opacity: 1;
}

.down a.active {
  outline: 1px solid red;
  outline-offset: 1px;
  box-shadow: 0 0 10px red;
  transform: scale(1.05);
}

.pay {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  input {
    border-radius: 25px;
    text-align: center;
    font-size: 17px;
    border: 1px solid #cecece;
    width: 150px;
    height: 40px;
  }
  button {
    border-radius: 25px;
    font-size: 17px;
    font-weight: 700;
    color: white;
    border: none;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 20px;
    background-color: #f50057;
  }
}
.spc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
    text-decoration: underline #f50057;
    text-underline-offset: 8px;
  }
}
.a {
  display: flex;
  justify-content: center;
}
.specification {
  margin-bottom: 40px;
  display: flex;
  width: 600px;
  justify-content: center;
  border: 2px solid #cecece;
  border-radius: 25px;
  gap: 150px;
  ul {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
.comments {
  width: 600px;
  margin: 100px 0px;
  h1 {
    font-size: 30px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: underline #f50057;
    text-underline-offset: 8px;
  }
}
.send {
  position: relative;
}
.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  textarea {
    padding-top: 5px;
    padding-left: 10px;
    font-size: 15px;
    font-weight: 700;
    width: 400px;
    height: 100px;
    border: 2px solid #545454;
    border-radius: 10px;
    resize: none;
  }
  button {
    position: absolute;
    top: 83px;
    right: -20px;
    border: 2px solid #545454;
    border-radius: 10px;
    width: 50px;
    height: 30px;
    background-color: #f50057;
    color: white;
    cursor: pointer;
  }
}
.none {
  color: #545454;
  text-align: center;
  padding-top: 50px;
}
.comment {
  margin-top: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 600px;
}
.id {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  border: 2px solid black;
  padding: 10px 15px 15px 15px;
  img {
    width: 35px;
    border-radius: 50%;
  }
  p {
    text-align: start;
    color: #545454;
    font-size: 17px;
  }
}
.split {
  display: flex;
  align-items: center;
  gap: 5px;
  h2 {
    font-size: 20px;
  }
}
.stars {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 5px;
  margin-bottom: 10px;
}

.stars input {
  display: none;
}

.stars label {
  font-size: 30px;
  color: #444;
  cursor: pointer;
}

.stars input:checked ~ label,
.stars label:hover,
.stars label:hover ~ label {
  color: gold;
}
.rating {
  i {
    color: gold;
  }
}
.delete {
  position: relative;
  button {
    position: absolute;
    top: 0;
    right: -40px;
    border: 2px solid #545454;
    border-radius: 10px;
    width: 50px;
    height: 30px;
    background-color: #f50057;
    color: white;
    cursor: pointer;
  }
}
