@media (max-width: 1030px) {
  main {
    .aboutus {
      flex-direction: column;
      align-items: center;
    }
    p {
      font-size: 20px;
    }
  }
}
@media (max-width: 905px) {
  main {
    h1 {
      font-size: 30px;
    }
    p {
      padding-left: 10px;
      font-size: 14px;
    }
  }
}
@media (max-width: 800px) {
  main {
    p {
      font-size: 12px;
    }
  }
}
@media (max-width: 690px) {
  main {
    h1 {
      font-size: 25px;
    }
    p {
      line-height: 125%;
      font-size: 12px;
    }
  }
}
@media (max-width: 635px) {
  img {
    width: 120px;
  }
}
@media (max-width: 510px) {
  img {
    width: 80px;
  }
}