@media (max-width: 1400px) {
  .if {
    iframe {
      width: 700px;
    }
  }
}
@media (max-width: 1280px) {
  .if {
    iframe {
      width: 500px;
    }
  }
}
@media (max-width: 1080px) {
  .contact {
    flex-wrap: wrap;
    div {
      display: flex;
      flex-direction: column;
      h1 {
        font-size: 25px;
      }
      p {
        font-size: 15px;
      }
    }
  }
  .if {
    iframe {
      width: 500px;
    }
  }
}
@media (max-width: 980px) {
  .contact {
    padding-left: 0;
    flex-wrap: wrap;
    div {
      align-items: center;
      h1 {
        font-size: 30px;
      }
      p {
        font-size: 25px;
      }
    }
  }
  .if {
    iframe {
      display: flex;
      align-items: center;
      width: 700px;
    }
  }
}
@media (max-width: 750px) {
  .if {
    iframe {
      display: flex;
      align-items: center;
      height: 500px;
      width: 600px;
    }
  }
}
@media (max-width: 635px) {
  .if {
    iframe {
      display: flex;
      align-items: center;
      height: 400px;
      width: 400px;
    }
  }
}
@media (max-width: 500px) {
  .contact {
    div {
      h1 {
        font-size: 25px;
      }
      p {
        font-size: 18px;
      }
    }
  }
  .if {
    iframe {
      display: flex;
      align-items: center;
      height: 320px;
      width: 320px;
    }
  }
}